body {
  background-color: #ddd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
}

#container {
  width: 600px;
  height: 900px;
  margin: auto;
  padding: 60px;
  background-color: #fff;
  border: solid 1px #888;
}

h1 {
  font-size: 1.25em;
}